{%- capture arrowPrev -%}
  <button
    class="slick-arrow slick-previous"
    type="button"
    role="button"
    data-role="none"
    aria-label="{{ 'modules.slideshow.previous' | t | escape }}"
  >
    {% render 'icon-arrow' %}
  </button>
{%- endcapture -%}

{%- capture arrowNext -%}
  <button
    class="slick-arrow slick-next"
    type="button"
    role="button"
    data-role="none"
    aria-label="{{ 'modules.slideshow.next' | t | escape }}"
  >
    {% render 'icon-arrow' %}
  </button>
{%- endcapture -%}

{% assign slideshowEnabled = false %}
{% if section.blocks.size > 1 %}
  {% assign slideshowEnabled = true %}
{% endif %}

<script
  type="application/json"
  data-section-type="slideshow"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "autoplay": {{ section.settings.autoplay | json }},
    "slideshowEnabled": {{ slideshowEnabled | json }},
    "speed": {{ section.settings.speed | times: 1000 | json }},
    "iconPrevious": {{ arrowPrev | strip_newlines | strip | json }},
    "iconNext": {{ arrowNext | strip_newlines | strip | json }},
    "hasDots": {{ section.settings.dots | json }}
  }
</script>

{%- capture placeholder -%}
  <span class="svg-placeholder">{{ 'collection-1' | placeholder_svg_tag }}</span>
{%- endcapture -%}

<section
  class="slideshow-wrapper{% if section.settings.slide_image_size == "fullscreen" %} slideshow-fullscreen{% elsif section.settings.slide_image_size == "banner" %} slideshow-banner{% endif %}"
  data-slideshow
>
  {% for block in section.blocks %}
    {% assign subheading = false %}
    {% assign title = false %}
    {% assign text = false %}
    {% assign button = false %}
    {% assign url = false %}

    {% if block.settings.subheading != blank %}
      {% assign subheading = true %}
    {% endif %}

    {% if block.settings.heading != blank %}
      {% assign heading = true %}
    {% endif %}

    {% if block.settings.heading != blank or block.settings.subheading != blank %}
      {% assign title = true %}
    {% endif %}

    {% if block.settings.text != blank %}
      {% assign text = true %}
    {% endif %}

    {% if block.settings.url %}
      {% assign url = block.settings.url %}
    {% endif %}

    {% if block.settings.button != blank and url %}
      {% assign button = true %}
    {% endif %}

    {% assign colorText = block.settings.colorText %}

    {% capture itemContent %}
      <div class="{% if block.settings.mobile_image %}hide-on-mobile{% endif %} slideshow-content-wrapper {{ block.settings.captionPosition }} {{ block.settings.textAlignment }}{% if section.blocks.size == 1 %} single-slide{% endif%}">
        <div class="slideshow-content {{ block.settings.captionPosition }}">
          <div class="slideshow-content-inner">
            {% if subheading %}
              <h3 class="index-subheading{% if subheading %} first-fade{% endif %}">{{ block.settings.subheading | escape }}</h3>
            {% endif %}

            {% if heading %}
              <h2 class="slideshow-title{% if heading %} first-fade{% endif %}">{{ block.settings.heading | escape }}</h2>
            {% endif %}

            {% if text %}
              <p class="slideshow-text{% if title %} second-fade{% elsif block.settings.text != empty %} first-fade{% endif %}">{{ block.settings.text | escape }}</p>
            {% endif %}

            {% if button %}
              <a class="slideshow-button button hover-animation {% if title and block.settings.text != empty %} third-fade{% elsif title and block.settings.text == empty %} first-fade{% elsif title or block.settings.text == empty %} second-fade{% else %} first-fade{% endif %}" href="{{ block.settings.url }}">
                <span class="button-text">{{- block.settings.button | escape -}}</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endcapture %}

    {% capture itemContentMobile %}
      <div class="hide-on-desktop slideshow-content-wrapper {{ block.settings.captionPosition }} {{ block.settings.textAlignment }}{% if section.blocks.size == 1 %} single-slide{% endif%}">
        <div class="slideshow-content {{ block.settings.captionPosition }}">
          <div class="slideshow-content-inner">
            {% if subheading %}
              <h3 class="index-subheading{% if subheading %} first-fade{% endif %}">{{ block.settings.subheading | escape }}</h3>
            {% endif %}

            {% if heading %}
              <h2 class="slideshow-title{% if heading %} first-fade{% endif %}">{{ block.settings.heading | escape }}</h2>
            {% endif %}

            {% if text %}
              <p class="slideshow-text{% if title %} second-fade{% elsif block.settings.text != empty %} first-fade{% endif %}">{{ block.settings.text | escape }}</p>
            {% endif %}

            {% if button %}
              <a class="slideshow-button button hover-animation {% if title and block.settings.text != empty %} third-fade{% elsif title and block.settings.text == empty %} first-fade{% elsif title or block.settings.text == empty %} second-fade{% else %} first-fade{% endif %}" href="{{ block.settings.url }}">
                <span class="button-text">{{- block.settings.button | escape -}}</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endcapture %}

    <div
      class="slideshow-image slideshow-item-{{ block.id }}{% if block.settings.overlay %} slideshow-image-overlay{% endif %}"
      data-slideshow-item="{{ block.id }}"

      {% comment %}
          We need to set height of slideshow otherwise AOS animations does not work.
          The 14px is common width of scrollbar (it will fix automatically when images loads)
      {% endcomment %}
      {% if section.blocks.size > 1 %}style="min-height: 10vh;display: none;"{% else %}style="min-height: 10vh;"{% endif %}

      {{ block.shopify_attributes }}
    >

      {% if block.settings.image %}

        {% assign focal_point = block.settings.image.presentation.focal_point %}
        {% if focal_point %}
          {% capture style_attr %}style="object-fit:cover;object-position:{{ focal_point }}!important;"{% endcapture %}
        {% endif %}

        <img
          srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
          sizes="100vw"
          src="{{ block.settings.image | image_url: width: 1500 }}"
          loading="lazy"
          alt="{{ block.settings.image.alt | escape }}"
          width="{{ block.settings.image.width }}"
          height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round }}"
          {{ style_attr }}
          {% if block.settings.mobile_image %}class="hide-on-mobile"{% endif %}
        >

        {% if title or text or button %}
          {{ itemContent }}
        {% endif %}

        {% if block.settings.url != blank %}
          <a href="{{ block.settings.url }}"></a>
        {% endif %}

      {% else %}

        <div {% if block.settings.mobile_image %}class="hide-on-mobile"{% endif %}>{{ placeholder }}</div>

        {% if title or text or button %}
          {{ itemContent }}
        {% endif %}

      {% endif %}

      {% if block.settings.mobile_image %}

        {% assign mobile_focal_point = block.settings.mobile_image.presentation.focal_point %}
        {% if mobile_focal_point %}
          {% capture mobile_style_attr %}style="object-fit:cover;object-position:{{ mobile_focal_point }}!important;"{% endcapture %}
        {% endif %}

        <img
          srcset="{%- if block.settings.mobile_image.width >= 375 -%}{{ block.settings.mobile_image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if block.settings.mobile_image.width >= 550 -%}{{ block.settings.mobile_image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if block.settings.mobile_image.width >= 750 -%}{{ block.settings.mobile_image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if block.settings.mobile_image.width >= 1100 -%}{{ block.settings.mobile_image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if block.settings.mobile_image.width >= 1500 -%}{{ block.settings.mobile_image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if block.settings.mobile_image.width >= 1780 -%}{{ block.settings.mobile_image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if block.settings.mobile_image.width >= 2000 -%}{{ block.settings.mobile_image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if block.settings.mobile_image.width >= 3000 -%}{{ block.settings.mobile_image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if block.settings.mobile_image.width >= 3840 -%}{{ block.settings.mobile_image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ block.settings.mobile_image | image_url }} {{ block.settings.mobile_image.width }}w"
          sizes="100vw"
          src="{{ block.settings.mobile_image | image_url: width: 1500 }}"
          loading="lazy"
          alt="{{ block.settings.mobile_image.alt | escape }}"
          width="{{ block.settings.mobile_image.width }}"
          height="{{ block.settings.mobile_image.width | divided_by: block.settings.image.aspect_ratio | round }}"
          class="hide-on-desktop"
          {{ mobile_style_attr }}
        >

        {% if title or text or button %}
          {{ itemContentMobile }}
        {% endif %}

        {% if block.settings.url != blank %}
          <a href="{{ block.settings.url }}"></a>
        {% endif %}

      {% else %}

        {% if title or text or button %}
          {{ itemContentMobile }}
        {% endif %}

    {% endif %}

    </div>
  {% endfor %}
</section>

<style type="text/css">

  #shopify-section-{{ section.id }} .slideshow-wrapper .slick-dots li.slick-active button {
    background-color: {{ section.settings.slider-indicator--color }};
  }
  #shopify-section-{{ section.id }} .slideshow-wrapper button.slick-arrow svg {
    color: {{ section.settings.slider-indicator--color }};
  }
  #shopify-section-{{ section.id }} .slideshow-wrapper button.slick-arrow:after {
    border: 1px solid {{ section.settings.slider-indicator--color }};
  }

  {% for block in section.blocks %}
    #shopify-section-{{ section.id }} .slideshow-item-{{ block.id }} .index-subheading,
    #shopify-section-{{ section.id }} .slideshow-item-{{ block.id }} .slideshow-title,
    #shopify-section-{{ section.id }} .slideshow-item-{{ block.id }} .slideshow-text {
      color: {{ block.settings.colorText }};
    }

    #shopify-section-{{ section.id }} .slideshow-item-{{ block.id }} .hover-animation {
      background-color: {{ block.settings.colorButton }};
    }
    #shopify-section-{{ section.id }} .slideshow-item-{{ block.id }} .hover-animation::before {
      {% assign background_lightness = block.settings.colorButton | color_extract: 'lightness' %}
      {% if background_lightness > 50 %}
        background-color: {{ block.settings.colorButton | color_darken: 7 | color_saturate: 7 | downcase }};
      {% else %}
        background-color: {{ block.settings.colorButton | color_lighten: 5 | color_desaturate: 5 | downcase }};
      {% endif %}
    }
    #shopify-section-{{ section.id }} .slideshow-item-{{ block.id }} .hover-animation .button-text {
      color: {{ block.settings.textColorButton }};
    }

    #shopify-section-{{ section.id }} .slideshow-item-{{ block.id }} .slideshow-title {
      font-size: {{ section.settings.titleSize }}px;
    }

    #shopify-section-{{ section.id }} .slideshow-item-{{ block.id }} .slideshow-text {
      font-size: {{ section.settings.textSize }}px;
    }
  {% endfor %}
</style>
